[submodule ".config/alacritty"]
	path = .config/alacritty
	url = git@github.com:KlevisImeri/alacritty.git
[submodule ".config/i3"]
	path = .config/i3
	url = git@github.com:KlevisImeri/i3.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:KlevisImeri/nvim
[submodule ".config/i3status"]
	path = .config/i3status
	url = git@github.com:KlevisImeri/i3status.git
[submodule ".config/opencode"]
	path = .config/opencode
	url = git@github.com:KlevisImeri/opencode.git
[submodule ".ssh"]
	path = .ssh
	url = git@github.com:KlevisImeri/ssh.git
