*
# --- Shell ---
!.bashrc
!.bash_profile
!.bash_logout
!.git-prompt.sh
# --- Git ---
!.gitconfig
# --- Git internals ---
!.gitignore
!.gitattributes
!.bashrc.d
!.bashrc.d/*
!audiosource.sh
!setup.sh
